# Ignore bundler config.
/.bundle/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# coverage
/coverage/*

# junie-guidelines
# https://github.com/JetBrains/junie-guidelines
.junie/*

# rspec failure tracking
.rspec_status

# gem
.gem/credentials
/.gem_rbs_collection/

/.yardoc
/_yardoc/
/doc/
/pkg/
/spec/reports/
.DS_Store
.idea
